vti_encoding:SR|utf8-nl
vti_author:SR|CONESTOGAC\\cokeleke-cc
vti_modifiedby:SR|CONESTOGAC\\cokeleke-cc
vti_timelastmodified:TR|14 Nov 2014 20:21:07 -0000
vti_timecreated:TR|14 Nov 2014 20:12:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|14 Nov 2014 20:15:41 -0000
vti_cacheddtm:TX|14 Nov 2014 20:21:07 -0000
vti_filesize:IR|18
