<div data-ng-controller="aboutController">
	<div class="row">
	<div class="col-md-2 col-md-offset-1">
	<img />
	<address>
	Name: <span class="h4"><small>{{name}}</small></span><br/>
	DOB: <span class="h4"><small>{{DOB}}</small></span><br/>
	Currently At: <span class="h4"><small>{{employedAt}}</small></span><br/>
	As <span class="h4"><small>{{role}}</small></span>
	</address>
	</div>
	<div class="col-md-6 col-md-offset-1">
	<div class="row">
	<p> I am {{name}} born on the {{DOB}}.
	I originally came from Nigeria where I was born and raised
	till I left for Canada at age 24. I am self motivated 
	and always work on building myself as an individual.</p>
	<h3><small>Education</small></h3>
	<div class="row">
	<div class="col-xs-9 col-sm-9 col-md-9">
	<address>
	<strong>Conestoga College</strong><br/>
	Mobile Solutions Development<br/>
	Projected Graduation: August 2015<br/>
	<ul>
	<li>Worked on projects using HTML5, JavaScript, BootStrap Lib and PHP</li>
	<li>Exposed to Software Testing Techniques and NUnit</li>
	</ul>
	</address>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
	<p class="text-right">2014-2015</p>
	</div>
	</div>
	<div class="row">
	<div class="col-xs-9 col-sm-9 col-md-9">
	<address>
	<strong>Conestoga College</strong><br/>
	Computer Applications Development<br/>
	Finished: August 2014<br/>
	<ul>
	<li>Worked on projects using HTML5, JavaScript, BootStrap Lib and PHP</li>
	<li>Exposed to Software Testing Techniques and NUnit</li>
	</ul>
	</address>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
	<p class="text-right">2013-2014</p>
	</div>
	</div>
	<h3><small>Work Experience</small></h3>
	</div>
	</div>
	</div>
</div>