<div data-ng-controller="defaultController" class="custsplash">
<ul ng-show="loaded" class="nav nav-pills">
    <li ng-class="{'active':isCurrentAnimation('slide-left-animation')}"><a ng-click="setCurrentAnimation('slide-left-animation')">LEFT</a></li>
    <li ng-class="{'active':isCurrentAnimation('slide-down-animation')}"><a ng-click="setCurrentAnimation('slide-down-animation')">DOWN</a></li>
    <li ng-class="{'active':isCurrentAnimation('fade-in-animation')}"><a ng-click="setCurrentAnimation('fade-in-animation')">FADE</a></li>
</ul>
<img ng-show="loaded" class = "custImage {{currentAnimation}}" bg-image ng-repeat="slide in slides"
 ng-if="isCurrentSlideIndex($index)"
 ng-src="{{slide.src}}" />
<div class="col-xs-12" ng-if="progress !== 100">
    <progressbar class="progress-striped" value="progress">{{progress | number:0}}%</progressbar>
</div>
</div>